@import url("https://fonts.googleapis.com/css?family=Arimo");

.Main {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-image: -webkit-image-set("https://images.pexels.com/photos/247676/pexels-photo-247676.jpeg?auto=compress&cs=tinysrgb&w=1600");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: cursive;
}

.w {
  overflow: hidden;
  margin-top: 5%;
  width: 600px;
  height: 85%;
  display: flex;
  justify-content: center;
  font-family: "Arimo";
  background-image: -webkit-image-set("https://images.pexels.com/photos/3756879/pexels-photo-3756879.jpeg?auto=compress&cs=tinysrgb&w=1600");
  border-radius: 25px;
  font-family: cursive;
  overflow-y: auto;
}

.contain {
  width: 65%;
  padding: 1% 2%;
}

.s {
  align-self: center;
  color: #090909;
}

form {
  width: 100%;
}

form > * {
  margin-top: 20px;
}

form input {
  width: 100%;
  min-height: 2px;
  border: 0;
  font-size: 20px;
  letter-spacing: 0.15rem;
  font-family: "Arimo";
  margin-top: 7px;
  color: #0a0a0a;
  border-radius: 5px;
  background-color: #d5eae8;
  font-family: cursive;
}

form label {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  color: #090909;
  font-weight: bolder;
}

form h1 {
  font-size: 24px;
  line-height: 10px;
  color: #0b0b0b;
  letter-spacing: 1px;
  font-weight: bolder;
}

form h1:nth-of-type(2) {
  margin-top: 10%;
}

.name {
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.name div {
  width: 45%;
}

.address-info1,
.address-info2,
.address-info3 {
  display: flex;
  justify-content: space-between;
  width: 120px;
}

.btns {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  align-items: flex-end;
  font-size: x-small;
}

.btns button {
  margin: 4px 0;
  margin-right: -50px;
  font-size: small;
  font-weight: bolder;
  height: 30px;
  width: 150px;
  color: #0b0b0b;
  background-color: #e7cf15;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.btns button:hover {
  animation-name: btn-hov;
  animation-duration: 550ms;
  animation-fill-mode: forwards;
}

.cc-num {
  width: 120px;
}

/* Media queries */
@media (max-width: 1024px) {
  .w {
    width: 500px;
  }
}

@media (max-width: 768px) {
  .Main {
    background-size: cover;
  }

  .w {
    width: 400px;
  }
}

@media (max-width: 576px) {
  .w {
    width: 90%;
  }
}
