.contact{
   height: 100vh;
    background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(215, 250, 227);
  background-position: center;
}
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Caprasimo&family=Caveat:wght@400;500&family=Comforter&family=Dancing+Script:wght@500&family=Fasthand&family=Lilita+One&family=Lora:ital@1&display=swap');
* {
  font-family: 'Alfa Slab One', cursive;
font-family: 'Caprasimo', cursive;
font-family: 'Caveat', cursive;
font-family: 'Comforter', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Fasthand', cursive;
font-family: 'Lilita One', cursive;
font-family: 'Lora', serif;
}
.contact1 {
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
 background-image: -webkit-image-set("https://images.pexels.com/photos/1749303/pexels-photo-1749303.jpeg?auto=compress&cs=tinysrgb&w=1600");  
  height: 100vh;
  width: 100%; 
  background-repeat: no-repeat;
  background-size: cover; 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.contact2 {
  width: 400px;
  margin-top: 90px;
  height: 450px;
  /* background-color:rgb(225, 13, 13); */
  padding: 20px;
  background-color:rgb(137, 182, 216);  
  border-radius: 20px;
  border-width: 8em;
  box-shadow: 10px 10px 50px 0 rgb(7, 7, 7);

  
  border-radius: 20px;
}
.contact2:hover{
  box-shadow: 0 2px 6px 0 rgb(7, 7, 7);
  border-radius: 20px;
  /* border: 20px black; */
}

.input {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color:black;
}

.link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  margin-top: 20px; /* Add top margin for spacing */
}

.btn {
  background-color: rgb(33, 33, 215);
  color: black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}

.btn:hover {
  background-color:black;
  color: white;
}

input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
 
}

input::placeholder {
  color: #040404;
}


h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  ;
}

/* Additional styling for responsiveness */

@media (max-width: 480px) {
  .contact2 {
    width: 90%;
  }
}