@import url("https://fonts.googleapis.com/css?family=Arimo");
.Main {
  display: flex;
  justify-content: center;
  background-color: aqua;
  height: 100vh;
  background-image: -webkit-image-set("https://images.pexels.com/photos/691710/pexels-photo-691710.jpeg?auto=compress&cs=tinysrgb&w=1600");
  width: 100%;
    background-repeat: no-repeat;
    background-size: cover; 
}

.w {
  margin-top: 5%;
  width: 60%;
  display: flex;
  justify-content: center;
  font-family: "Arimo";
  background-color: #474140;
  -webkit-box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
  animation: slideUp 2000ms ease;
}

@keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.contain {
  width: 65%;
  padding: 5% 10%;
}

h1 {
  align-self: center;
}

form {
  width: 100%;
}
form > * {
  margin-top: 20px;
}
form input {
  width: 100%;
  min-height: 25px;
  border: 0;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  font-family: "Arimo";
  margin-top: 5px;
  color: #0a0a0a;
  border-radius: 4px;
}
form label {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  color: #090909;
  font-weight: bold;
}
form h1 {
  font-size: 24px;
  line-height: 10px;
  color: #120c8a;
  letter-spacing: 1px;
}
form h1:nth-of-type(2) {
  margin-top: 10%;
}

.name {
  justify-content: space-between;
  display: flex;
  width: 100%;
}
.name div {
  width: 45%;
}

.address-info {
  display: flex;
  justify-content: space-between;
}
.address-info div {
  width: 30%;
}

.cc-info {
  display: flex;
  justify-content: space-between;
}
.cc-info div {
  width: 45%;
}

.btns {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  align-items: flex-end;
  font-size: x-small
}
.btns button {
  
  margin: 3px 0;
  height: 30px;
  width: 70%;
  color: #0b0b0b;
  background-color: #e71515;
  text-transform: uppercase;
  border: 0;
  border-radius: 0.3rem;
  letter-spacing: 2px;
}
.btns button:hover {
  animation-name: btn-hov;
  animation-duration: 550ms;
  animation-fill-mode: forwards;
}
