
.total{
 
  height: 100%;
  background-image: -webkit-image-set("https://images.pexels.com/photos/2449454/pexels-photo-2449454.jpeg?auto=compress&cs=tinysrgb&w=1600");  
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover; 
  overflow: hidden;
}
.card1 {
  display: block;
  background-color: #20a886; /* Light gray background color */
  border: 1px solid #f8fbfa; /* Border around the card */
  border-radius: 8px; /* Rounded corners */
  padding: 20px; /* Add some padding inside the card */
}
.card2 {
  display: block;
  background-color: #20a886; /* Light gray background color */
  border: 1px solid #e8eceb; /* Border around the card */
  border-radius: 8px; /* Rounded corners */
  padding: 20px; /* Add some padding inside the card */
}
.cards {
  display: flex;
  height: auto;
  justify-content: center;
  margin-top: 50px;
  width: auto;
  justify-content: space-evenly;
}

/* Additional CSS for responsive layout */
@media (max-width: 736px) {
  .cards {
    display: block;
    margin-top: 30px; /* Adjust the top margin for smaller screens */
  }
  .card1 {
    margin-bottom: 20px; /* Add some space between cards for smaller screens */
  }
  .top ul {
    flex-direction: column; /* Stack navigation links vertically on smaller screens */
    align-items: center; /* Center the navigation links on smaller screens */
  }
}