/* Signup.css */

.si {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: -webkit-image-set("https://images.pexels.com/photos/1554646/pexels-photo-1554646.jpeg?auto=compress&cs=tinysrgb&w=1600");  
 width: 100%;
  background-repeat: no-repeat;
  background-size: cover; 
  overflow: hidden;
  }
  
  .ss {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .signup-form h2 {
    margin-bottom: 20px;
  }
  
  .in {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .b {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .b:hover {
    background-color: #0056b3;
  }
  